{% extends 'base.html.twig' %}

{% block title %}LaGomba{% endblock %}


{% block body %}  
<div class="container py-5">

  <p class="h1 text-center">There´re so many Recipes</p>
  <p class="text-center">some chosen ones</p>

  <div class="row">

    <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
     {% for recipe in recipes %}
      <!-- <h2>Simple Collapsible</h2> -->
      <a href="#cauliflower" class="" data-toggle="collapse">
        <div>
          <div>
            <img class="img-fluid" src="../img/{{ recipe.img }}" alt="">      
          </div>
          <div class="d-flex justify-content-around p-2 bg-warning">
            <div class="icon">
              <div class="d-flex">
                <img class="img-fluid" src="../img/icon-rezept.png" alt="">
                <p>{{ recipe.preptime }}</p>
              </div>             
            </div>
            <div class="icon img-fluid">
              <div class="d-flex">
                <img class="img-fluid" src="../img/icon-clock.png" alt="">
                <p>{{ recipe.preplevel }}</p>
              </div>              
            </div>
          </div>
        </div>
      </a>

      <div id="cauliflower" class="collapse p-2">
        
        <h2 class="font-weight-bold">Step. 1</h2>
        <hr />
        <p class="mt-1 text-center">{{ recipe.one }}</p>
    
        <h2 class="font-weight-bold">Step. 2</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.two }}
        </p>

        <h2 class="font-weight-bold">Step. 3</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.three }}
        </p>
    
        <h2 class="font-weight-bold">Step. 4</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.four }}
        </p>

        <h2 class="font-weight-bold">Step. 5</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.five }}
        </p>

        <h2 class="font-weight-bold">Step. 6</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.six }}
        </p>

        <h2>Step. 7</h2>
        <hr />
        <p class="mt-1 text-center">{{ recipe.seven }}</p>

        <h2 class="font-weight-bold">Step. 8</h2>
        <hr />
        <p class="mt-1 text-center">{{ recipe.eight }}</p>

        <h2 class="font-weight-bold">Step. 9</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.nine }}
        </p>

        <h2 class="font-weight-bold">Step. 10</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.ten }}
        </p>

        <h2 class="font-weight-bold">Step. 11</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.eleven }}
        </p>

        <h2 class="font-weight-bold">Step. 12</h2>
        <hr />
        <p class="mt-1 text-center">{{ recipe.twelve }}</p>
      </div>              
    </div>
  {% endfor %}

  </div>
</div>
{% endblock %}

