{% extends 'base.html.twig' %}

{% block title %}LaGomba{% endblock %}


{% block body %}  
<div class="container py-5">

  <p class="h1 text-center">There´re so many Recipes</p>
  <p class="text-center">some chosen ones</p>

  <div class="row">
  {% for recipe in recipes %}
    <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
     
      <!-- <h2>Simple Collapsible</h2> -->
      <a href="#cauliflower_{{ recipe.id }}" class="" data-toggle="collapse">
        <div>
          <div>
            <img class="img-fluid" src="../img/{{ recipe.img }}" alt="">      
          </div>
          <div class="d-flex justify-content-around p-2 bg-warning">
            <div class="d-flex">
              <div class="icon">              
                <img class="img-fluid" src="../img/icon-rezept.png" alt="">
              </div>
              <div>
                <p class="pl-2 text-secondary">{{ recipe.preptime }}</p>
              </div>
            </div>           
            <div class="d-flex">
              <div class="icon img-fluid">
                <img class="img-fluid" src="../img/icon-clock.png" alt="">
              </div>
              <div>
                 <p class="pl-2 text-secondary">{{ recipe.preplevel }}</p>
              </div> 
            </div>                           
          </div>             
        </div>
      </a>

      <div id="cauliflower_{{ recipe.id }}" class="collapse p-2">
        
        
        {% if recipe is empty %}
          <p class="text-center"></p>
        {% else %}
        <h2 class="font-weight-bold">Step. 1</h2>
        <hr />
        <p class="mt-1 text-center">          
          {{ recipe.one }}          
        </p>
        {% endif %}

        {% if recipe is empty %}
          <p class="text-center"></p>
        {% else %}
        <h2 class="font-weight-bold">Step. 2</h2>
        <hr />
        <p class="mt-1 text-center">          
          {{ recipe.two }}          
        </p>
        {% endif %}
        
        {% if recipe is empty %}
          <p class="text-center"></p>
        {% else %}
        <h2 class="font-weight-bold">Step. 3</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.three }}          
        </p>
        {% endif %}
    
        {% if recipe is empty %}
          <p class="text-center"></p>
        {% else %}
        <h2 class="font-weight-bold">Step. 4</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.four }}          
        </p>
        {% endif %}

        {% if recipe.five is empty %}
          <p class="text-center"></p>
        {% else %}
        <h2 class="font-weight-bold">Step. 5</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.five }}          
        </p>
        {% endif %}

        {% if recipe.six is empty %}
          <p class="text-center"></p>
        {% else %}
        <h2 class="font-weight-bold">Step. 6</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.six }}          
        </p>
        {% endif %}

        {% if recipe.seven is empty %}
          <p class="text-center"></p>
        {% else %}
        <h2 class="font-weight-bold">Step. 7</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.seven }}          
        </p>
        {% endif %}

        {% if recipe.eight is empty %}
          <p class="text-center"></p>
        {% else %}
        <h2 class="font-weight-bold">Step. 8</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.eight }}          
        </p>
        {% endif %}

        {% if recipe.nine is empty %}          
        {% else %}
        <h2 class="font-weight-bold">Step. 9</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.nine }}          
        </p>
        {% endif %}

        {% if recipe.ten is empty %}          
        {% else %}
        <h2 class="font-weight-bold">Step. 10</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.ten }}          
        </p>
        {% endif %}

        {% if recipe.eleven is empty %}          
        {% else %}
        <h2 class="font-weight-bold">Step. 11</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.eleven }}          
        </p>
        {% endif %}

        {% if recipe.twelve is empty %}          
        {% else %}
        <h2 class="font-weight-bold">Step. 12</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.twelve }}          
        </p>
        {% endif %}

        {% if recipe.thirten is empty %}          
        {% else %}
        <h2 class="font-weight-bold">Step. 13</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.thirten }}          
        </p>
        {% endif %}

        {% if recipe.fourteen is empty %}          
        {% else %}
        <h2 class="font-weight-bold">Step. 14</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.fourteen }}          
        </p>
        {% endif %}

        {% if recipe.fifty is empty %}          
        {% else %}
        <h2 class="font-weight-bold">Step. 15</h2>
        <hr />
        <p class="mt-1 text-center">
          {{ recipe.fifty }}          
        </p>
        {% endif %}
      </div>              
    </div>
  {% endfor %}

  </div>
</div>
{% endblock %}

